body{
	margin:0;
	padding:0;
	background: #151515;
	width:100vw;
	height:100vh;
	transition-duration:0.3s;
	transition-property:all;
}


/* LOGIN */
.login{
	position: relative;
	height:100%;
	width:100%;
	display: block;
	overflow: hidden;
}
.login #backgroundPict{
	height:100%;
	width:100%;
  	-webkit-mask-image: -webkit-gradient(linear, left top, left 80%, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  	background-image: url(../images/cinema.jpg);
  	background-position: center;
  	background-size: cover;
}
.login .content{
	position: absolute;
	top:35%;
	left:0;
	height: calc(100% - 40px);
	width: calc(100% - 40px);
	display: block;
	padding:20px;
}
.login .content h1{
	width:100%;
	text-align: center;
	font-size:1em;
	margin:none;
	color:white;
	font-family: arial;
	font-weight: 100;
	text-transform: uppercase;
}
.login .content h1 span{
	display: block;
	font-size:2.8em;
	font-weight: 800;
}
.login .content h2{
	font-size:1em;
	color:white;
	font-family: arial;
}
.login .logo{
	position: absolute;
	display: block;
	height:96px;
	width:96px;
	border-radius: 150px;
	top:50px;
	left:36%;
	background-color:rgba(255,255,255,01);
	
}
.login .logo span{
	height:56px;
	width:56px;
	margin:23px;
	display: block;
	background-image: url(../images/logo/logo-fullSize.png);
  	background-position: center;
  	background-size: contain;
  	background-repeat: no-repeat;
}
.login .content .form{
	padding-top:40px;
	position: relative;
}

.login .content .form div{
	margin:20px 0;
	display: inline-block;
}
.login .content .form input{
	border:none;
	background:none;
	outline:none;
	width:100%;
	margin:0;
	padding:5px 0px;
	color: white;
	font-family: arial;
	border-bottom:1px solid white;
	transition-property:all;
	transition-duration:0.3s;
	font-size: 0.8em;
}
.login .content .form div input:focus{
	border-bottom:1px solid red;
}
.login .content .form #pseudo{
	width:100%;
	display:block;
}

.login .content .form p{
	opacity: 1;
	color: rgba(255,255,255, 0.7);
	font-family: arial;
	font-size:0.8em;
	position: absolute;
	margin-top:-20px;
	transition: all .3s;
}

.login .content .form #pseudo input:focus + p, .login .content .form #link input:focus + p, .login .content .form #room input:focus + p, .login .content .form #password input:focus + p{
	transform: translateY(-14px);
	font-size:0.6em;
	opacity: 1;
}
.login .content .form p.out{
	transform: translateY(-14px);
	font-size:0.6em;
	opacity: 1;
}
/* Problem login */
.login .content .form p.alert{
	color:red;
}
.login .content .form #link{
	width:100%;
	display:block;
	margin-top:40px;
	margin-bottom:0;
}
.login .content .form #room{
	width: 30%;
}
.login .content .form #password{
	width: 60%;
	float:right;
}
.login .content .moviedb{
	background:white;
	-webkit-mask-box-image: url(../images/logo/themoviedb.svg) 37;
	display: block;
	height:15px;
	width:30%;
	position:absolute;
	right:20px;
	top:300px;
	opacity: 0.2;
}




/* APP */
.app{
	margin:0;
	padding:0;
	display: block;
	width:100vw;
	height:100vh;
	background: black;
	position: absolute;
	overflow: hidden;
}
/* Windows items */
.app .windowItems{
	position: fixed;
	z-index:4;
	top:0px;
	left:0px;
	display: block;
	width:100%;
	height:12px;
	margin:0px;
	padding:10px;
}
.app .windowItems a{
	height:12px;
	width:12px;
	display: inline-block;
	border-radius: 12px;
	padding:0;
	cursor:pointer;
	margin-right:5px;
	padding:0px;
}
.app .windowItems .close{background-color:#fc625d; border:0,5px solid #e0453e;}
.app .windowItems .full{background-color:#ffbd2e; border:0,5px solid #de9f22;}
.app .windowItems .reduce{background-color:#28c941; border:0,5px solid #1aab2b;}

/*bf4942*/
/*bf8e22*/
/*1e9a31*/

/* Playlist */
.playlist{
	height: 90px;
	width: calc(100% - 140px);
	position:absolute;
	display: block;
	background:#151515;
	z-index:4;
	top:-130px;
	left:0;
	padding:20px 70px;
	transition-duration:0.3s;
	transition-property:all;
}
.playlist.open{
	top:0;
}
.playlist li{
	height:80px;
	width:100px;
	display:inline-block;
	margin:0 10px;
	border-radius:8px;
	float:left;
	position:relative;
	background-size:cover;
	cursor:pointer;
	transition-duration:0.3s;
	transition-property:all;
}
.playlist li:hover{
	transform:scale(1.05);
}
.playlist li h3:not(.add){
	text-align: center;
	font-family: arial;
	font-size:0.8em;
	position: absolute;
	bottom:-16px;
	left:7px;
	border-radius: 2px;
	background-color: red;
	padding:3px;
	color:white;
	width:85%;
}
.playlist li h3.add{
	font-family: arial;
	font-size:0.8em;
	position: absolute;
	bottom:-20px;
	left:7px;
	color:white;
	width:80%;
}
.playlist li .icn{
	opacity: 0;
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:rgba(15,15,15,0.7);
	background-image: url('../images/bigPlay.png');
	background-size:50%;
	background-position: center;
	background-repeat: no-repeat;
	transition-duration:0.3s;
	transition-property:all;
}
.playlist li:hover .icn{opacity: 1}

/* Drop */
.playlist li.drop{
	border:2px dashed white;
	background:none;
	height:30px;
	top:;
	width:150px;
}
.playlist li.drop input{
	background:none;
	font-family: arial;
	color:white;
	outline:none;
	border:none;
	padding:10px;
}
.playlist li.drop:hover{
	transform
}

/* Close */
.playlist li .close{
	transition-duration:0.3s;
	transition-property:all;
	height:19px;
	width:20px;
	padding-top:1px;
	font-family: arial;
	text-align: center;
	background:white;
	display: block;
	position: absolute;;
	top:-5px;
	right:-5px;
	border-radius:10px;
	opacity: 0;
}
.playlist li:hover .close{
	opacity: 1;
}


/* Menu block */
.menu{
	width:200px;
	height:100%;
	display: inline-block;
	float:left;
	margin-left:-200px;
	background: #151515;
	transition-duration:0.3s;
	transition-property:all;
}
.app.openMenu .menu{
	margin-left:0px;
}
.menu ul{
	width:100%;
}
.menu ul li{
	padding:16px 24px;
	border-bottom:1px solid #2b2b2b;
	width:100%;
	cursor:pointer;
}
.menu ul li:hover{
	background:rgba(255,255,255,0.02);
}
.menu ul li .subIcon{
	height:12px;
	width:12px;
	float:left;
	background-image:url('../images/next.png');
	background-size:contain;
	margin-top:2px;
	margin-right:12px;
}
.menu ul li .text{
	color:white;
	font-family:arial;
	font-size:0.8em;
}
.menu ul li.title{
	margin-top:40px;
	cursor:default;
}
.menu ul li.title:hover{
	background:none
}
.menu ul li.title .text{
	font-size:1em;
}

/* Video Block */
.video{
	overflow: hidden;
	width:100%;
	height:100vh;
	display: inline-block;
	margin:0;
	position: relative;
	padding:0;
	background:black;
	transition-duration:0.3s;
	transition-property:all;
}
.video .bigPlay{
	display: block;
	position:absolute;
	top:40vh;
	left:46vw;
	z-index:5;
	cursor: pointer;
	height:128px;
	width:128px;
	background-image:url('../images/bigPlay.png');
	background-size: contain;
	transition-duration:0.3s;
	transition-property:all;
}
.video.launched .bigPlay{
	display: none;
}
.app.openChat .video .bigPlay{left:calc(46vw - 270px);}
.app.openChat .video{width:calc(100% - 270px);}
.app.openMenu .video{width:calc(100% - 200px);}
.video video, .video iframe, .video div#video{
	height:100% !important;
	width:100% !important;
	transition-duration:0.3s;
	transition-property:all;
	object-fit:cover;
	opacity: 0.3;
}
.video.launched video, .video.launched iframe, .video.launched div#video{
	opacity: 1;
}
.wcp-toolbar, .wcp-toolbar, .wcp-notif, .wcp-tooltip, .wcp-titlebar{
	display:none !important;
}

/* Clear */
.clear{
	position:absolute;
	display: block;
	z-index:4;
	top:0;
	left:0;
	height:100%;
	width:100%;
}

/* Top icons */
#chatIcon{
	height:24px;
	width:24px;
	position: absolute;
	z-index:5;
	top:50px;
	right:30px;
	/*http://www.flaticon.com/authors/madebyoliver*/
	background-image:url('../images/chat.png');
	background-size: contain;
	transition-duration:0.3s;
	transition-property:all;
}
#chatIcon.alert{
	background-image:url('../images/chatAlert.png');
	animation-duration:0.3s;
	animation-name: blinkChat;
	animation-count:1;
}
@keyframes blinkChat {
  0% {transform: scale(1);}
  50% {transform: scale(1.2);}
  100% {transform: scale(1);}
}

.menuIcon{
	height:24px;
	width:24px;
	position: absolute;
	z-index:5;
	top:50px;
	left:30px;
	/*http://www.flaticon.com/authors/madebyoliver*/
	background-image:url('../images/menu.png');
	background-size: contain;
}
.menuClickZone, .chatClickZone{
	top:0;
	height:100vh;
	position: absolute;
	width:100px;
	display: inline-block;
	z-index:5;
}
.app.openMenu .menuClickZone, .app.openChat .chatClickZone{
	width:0px;
}
.menuClickZone{
	left:0;
}
.chatClickZone{
	right:0;
}
/* Controls Video */
.controls{
	position: absolute;
	bottom:-54px;
	padding:24px 0px;
	z-index:5;
	left:0;
	width:100%;
	height:30px;
	display: block;
	color:white;
	font-family: arial;
	font-weight:100;
	font-size: 12px;
	transition-duration:0.3s;
	transition-property:all;
}
.controls.force{
	bottom:0px;
}
.controls:hover{
	animation-duration:0.3s;
	animation-name: showMenu;
	animation-count:1;
	bottom:0px;
}

@keyframes showMenu {
  from {
    bottom:-54px;
  }
  
  to {
    bottom:0px;
  }
}


.controls li{
	display: inline-block;
	float:left;
	height:30px;
	text-align: center;
}
.controls li .center{
	text-align: center;
	margin: auto;
}
/* Play/Pause */
.controls li.controlA{
	width:20%;
}
.controls li.controlA .center{
	width:120px;
	position: relative;
}
.controls .play{
	height:20px;
	width:20px;
	display: block;
	background-image:url('../images/pause.png');
	background-size: contain;
	cursor:pointer;
	float:left;
	transition-duration:0.3s;
	transition-property:all;
}
.controls .play.pause{
	background-image:url('../images/arrows.png');
}
.controls .time{
	display: block;
	padding-top:4px;
	padding-left:5px;
	float:right;
}
.controls .time .total{
	color: rgba(255,255,255,0.6)
}
/* progression */
.controls li.progression{
	width:60%;
	position: relative;
	height:3px;
	margin-top:8px;
	background-color:rgba(255,255,255, 0.4);
}
.controls li.progression span{
	height:3px;
	position: absolute;
	display: block;
}
.controls li.progression .load{
	width:100%;
	background-color:rgba(255,255,255, 0.8);
}

.controls li.progression .played{
	width:0%;
	background:#ff2800;
}
/* Video Option */
.controls li.controlB{
	width:20%;
}
.controls li.controlB .center{
	width:100px;
	position: relative;
}
.controls li.controlB .sound{
	height:20px;
	width:20px;
	border-radius:30px;
	padding:10px;
	float:left;
	text-align: center;
	display:block;
	position: relative;
	margin-top:-10px;
	transition-duration:0.3s;
	transition-property:all;
}
.controls li.controlB .sound:hover{
	background:rgba(0,0,0,0.4);
	margin-top:-130px;
	height:140px;
}
.controls li.controlB .sound .icon{
	height:20px;
	width:20px;
	display: block;
	background-image:url('../images/sound.png');
	background-size: contain;
	cursor:pointer;
}
.controls li.controlB .sound .icon.muted{background-image:url('../images/sound-2.png');}
.controls li.controlB .sound .icon.levelA{background-image:url('../images/sound-3.png');}
.controls li.controlB .sound .icon.levelB{background-image:url('../images/sound.png');}
.controls li.controlB .sound .icon.levelC{background-image:url('../images/sound-1.png');}

.controls li.controlB .sound .slide{
	height:0px;
	width:4px;
	display: block;
	position: relative;
	background-color:rgba(255,255,255, 0.6);
	margin-left:8px;
	cursor: pointer;
	transition-duration:0.3s;
	transition-property:all;
}
.controls li.controlB .sound:hover .slide{
	height:100px;
	margin-top:10px;
	margin-bottom:10px;
}
.controls li.controlB .sound .slide .max{
	background:#ff2800;
	height:100%;
	width:100%;
	bottom:0px;
	left:0;
	position: absolute;
}
/* Full size */
.controls li.controlB .fullSize{
	height:20px;
	margin-left: 30px;
	width:20px;
	display: block;
	background-image:url('../images/full.png');
	background-size: contain;
	cursor:pointer;
	float:left;
	transition-duration:0.3s;
	transition-property:all;
}
.controls li.controlB .fullSize:hover{
	height:22px;
	width:22px;
	margin-top:-1px;
}



/* Menu block */
.chat{
	width:226px;
	padding:0 22px;
	margin-right:-270px;
	height:100%;
	background-color: #151515;
	background-image:url('../images/background-messenger.png');
	background-size:cover;
	display: inline-block;
	position:relative;
	float:right;
	z-index:5;
	transition-duration:0.3s;
	transition-property:all;
}
.app.openChat .chat{
	margin-right:0px;
}
.chat ul{
	display: block;
	width:100%;
	height: calc(100% - 40px);
	overflow-y: auto;
}
.chat ul li{
	display: block;
	width:100%;
	overflow: auto;
	zoom:1;
	margin-top:5px;
}
.chat ul li span.msg{
	display: block;
	padding:15px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	width:70%;
	font-size: 0.8em;
	cursor:default;
	line-height: 16px;
	font-family: arial;
	margin-top:0px;
	background-color:rgba(15,15,15,0.8);
	animation-duration:0.3s;
	animation-name: bounceMsg;
	animation-count:1;
}
@keyframes bounceMsg {
  from {
    bottom:-54px;
  }
  
  to {
    bottom:0px;
  }
}
.chat ul li span.msg:after{
	content:"";
}
.chat ul li.me{
	color:#26a8d6;
}
.chat ul li.other{
	color:#c9c9c9;
}
.chat ul li.system{
	color: rgba(255,255,255,0.6);
    font-family: arial;
    margin: 20px 0;
    font-size: 0.7em;
}
.chat ul li.me span.msg{
	float:right;
	border:1px solid #26a8d6;
	border-top-left-radius: 20px;
}
.chat ul li.other span.msg{
	border:1px solid #c9c9c9;
	border-top-right-radius: 20px;
}
.chat ul li.other .name{
	font-family: arial;
	font-size:0.8em;
}
/* Input chat */
.zoneChat{
	height:40px;
	width:100%;
	display: block;
	position: absolute;
	bottom:0;
	left:0;
}
.zoneChat .inputChat{
	display: block;
	padding:10px;
}
.zoneChat .inputChat input{
	height:15px;
	width:100%;
	outline:none;
	border:none;
	background:none;
	color:white;
	font-family: arial;
}






